<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons *ngIf="sideMenu" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="">{{pageTitle}}</ion-title>
    <ion-buttons *ngIf="isNotHome" slot="end">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- dentro del menú aaaa-->

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item (click)="goAbout()">aaaa</ion-item>
    <ion-item>aaa</ion-item>
    <ion-item>aa</ion-item>
    <ion-item>a</ion-item>
  </ion-content>
</ion-menu>

