<div class="ion-page" id="main-content">

  <app-header [pageTitle]="pageTitle" [isNotHome]="isNotHome" [sideMenu]="sideMenu"></app-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Iniciar sesión</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" ></ion-input>
      </ion-item>


    </ion-card-content>
  </ion-card>
</div>