<ion-app>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button color="tertiary">
      <ion-icon name="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button color="dark" (click)="goAbout()">
        <ion-icon name="people-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="warning" (click)="goContact()">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="success" (click)="goNews()">
        <ion-icon name="newspaper-sharp"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="danger" (click)="goWeather()">
        <ion-icon name="cloudy-night-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-router-outlet></ion-router-outlet>
</ion-app>
